/* --- GLOBAIS --- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: hsl(212, 21%, 14%);
    --white: hsl(0, 0%, 100%);
    --cream: hsl(30, 38%, 92%);
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);
    --grey: hsl(228, 12%, 48%);
}

body {
    
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: var(--black);
    font-family: "Montserrat", sans-serif;
}


/* --- MOBILE FIRST (Padrão) --- */

main{
    display: flex;
    overflow: hidden;
    margin: auto;
}

.product-card {
    background-color: var(--white);
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    max-width: 21.4375rem;
    overflow: hidden;
    margin: auto;
}

.product-image img {
    width: 100%;
    height: auto;
    
}

.product-info {
    padding: 1.875rem;
}

.category {
    text-transform: uppercase;
    font-size: 0.75rem;
    color: var(--grey);
    font-weight: 500;
    letter-spacing: 0.3125rem;
    line-height: 120%;
}

h1 {
    font-size: 2rem;
    margin: 0.9375rem 0;
    font-family: "Fraunces", serif;
    line-height: 100%;
    padding: 0.625rem 0;
}

.description {
    font-size: 0.875rem;
    line-height: 160%;
    
    color: var(--grey);
    font-weight: 500;
}

.price {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
    margin: 1.25rem 0;
}

.current-price {
    font-size: 2rem;
    color: var(--green-500);
    font-family: "Fraunces", serif;
    font-weight: 700;
}

.original-price {
    font-size: 0.8125rem;
    color: var(--grey);
    font-weight: 500;
    text-decoration: line-through;
    line-height: 120%;
    
}

.add-to-cart {
    background-color: var(--green-500);
    color: var(--white);
    border: none;
    width: 100%;
    padding: 1.125rem 0;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    font-size: 0.875rem;
   font-weight: bold;
   letter-spacing: 0.01875rem;
   line-height: 110%;
   word-spacing: 0.0625rem;
}

.add-to-cart:hover {
    background-color: var(--green-700);
}


.add-to-cart img {
    width: 0.9375rem;
}

.attribution {
    padding: 0.625rem 0;
}

.attribution a {
    color: var(--grey);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease
}

.attribution a:hover, .attribution a:focus{
    color: var(--green-500);
}


/* --- DESKTOP (Acima de 600px) --- */


@media (min-width: 37.5rem) {
    .product-card {
        max-width: 37.5rem;
        flex-direction: row;
    }

    .product-image, .product-info {
        width: 50%;
    }

    .product-image img {
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .product-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
    }

    .add-to-cart {
         margin-block-start: 1.875rem;
    }
}








